.login-container {
    position: relative;
    z-index: 5; /* 배경보다 앞에 위치하도록 설정 */
    background: rgba(255, 255, 255, 0.9); /* 배경 반투명 설정 */
    padding: 20px;
    border-radius: 8px;
  }

  .login-container input {
    z-index: 6;
    position: relative;
  }